@import "bourbon"
@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1450px)
	/**/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/

/* Small Devices, Tablets */
@media only screen and (max-width : 767px)
	.container
		padding-left: 8px
		padding-right: 8px
		>.row
			margin-left: -8px
			margin-right: -8px
			>div[class^="col"]
				padding-left: 8px
				padding-right: 8px
	/**/

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/



/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	body
		background: url(../img/az-background.jpg) no-repeat center -313px

	.az-menu, .az-co
		display: none

	.sf-menu
		display: block
		line-height: 40px
		a
			font-size: 13px
			padding: 0 7px
			border: 0
			font-family: "ArimoBold"
			color: #fff
			background: $az-green
			text-transform: uppercase
			&:hover
				color: $az-yellow
		ul i
			position: absolute
			vertical-align: middle
			right: 10px
			line-height: 40px
		ul a
			padding: 0 30px 0 10px !important
			border-top: 1px solid #fff
			border-right: 1px solid #fff

	.sf-arrows .sf-with-ul
		padding: 0 10px

	.sf-arrows .sf-with-ul::after
		display: none

	.az-menu-cart
		height: 40px
		line-height: 40px

	.az-cart
		height: 40px
		line-height: 40px
		.az-cart-inner
			padding: 0 11px
			height: 40px

	.az-cart1
		height: 40px
		width: 29px
		background: url(../img/az-cart768.png) no-repeat center

	$az-logo-width: 245px
	$az-phones-width: 205px
	$az-pl-width: $az-logo-width + $az-phones-width
	
	.az-hb-col1, .az-hb-col2, .az-hb-col3
		display: inline-block
		vertical-align: top
	.az-hb-col1
		width: $az-logo-width
		padding-top: 10px

	.az-hb-col2
		padding: 0 10px 0 15px
		margin-top: 20px
		width: calc(100% - #{$az-pl-width})
		
	.az-hb-col3
		width: $az-phones-width


	/**/

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	.az-menu-cart
		height: 42px
		line-height: 42px
	.sf-menu
		display: block
		line-height: 42px
		a
			padding: 0 10px
			font-size: 14px

	.az-cart
		height: 42px
		line-height: 42px
		.az-cart-inner
			padding: 0 12px

	.az-cart1
		height: 42px

	.az-cart2
		height: 42px
		padding-top: 4px
		margin-top: -9px
		margin-left: 8px
		background: url(../img/az-apple.png) no-repeat center top
	/**/

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1350px)
	body
		background: url(../img/az-background.jpg) no-repeat center -313px
		background-size: 100% 720px
	/**/

