@import "bourbon"
@import "fonts"
@import "libs"
@import "vars"

*
	border: 0
	margin: 0
	padding: 0
	outline: none

$az-green: #6aac1c
$az-cyan: #007e46
$az-yellow: #ffd200
$az-orange: #ff8a00

body
	background: url(../img/az-background.jpg) no-repeat center -520px

a, a:focus, a:hover, a:active, input
	outline: none

li
	list-style-type: none

.az-menu-cart
	font-size: 0
	height: 30px
	background: $az-green
	line-height: 30px

.az-co
	padding-left: 27px
	background: url(../img/az-co.png) no-repeat center left
	font-size: 14px
	vertical-align: middle
	color: #fff
	text-transform: uppercase
	font-family: "ArimoBold"
	letter-spacing: 0.15em
	text-decoration: none
	&:hover, &:active, &:focus
		color: #fff
		text-decoration: none

.az-menu
	background: $az-green
	border-top: 1px solid #fff
	display: none
	position: absolute
	top: 100%
	left: 0px
	z-index: 3
	padding: 10px 0
	li
		line-height: 30px
		a
			color: #fff
			font-size: 14px
			padding: 0 10px
			font-family: "ArimoBold"
			text-transform: uppercase
			text-decoration: none
			width: 100%
			display: inline-block
			vertical-align: middle
			&:hover, &:active, &:focus
				color: #fff
				text-decoration: none
		li
			a
				padding: 0 10px 0 20px
			li
				line-height: 24px
				a
					font-family: "ArimoRegular"
					padding: 0 10px 0 30px
	ul
		display: none

.sf-menu
	display: none

.az-phone-mobile
	height: 30px
	width: 35px
	display: inline-block
	vertical-align: top
	background: url(../img/az-phone-mobile.png) no-repeat center
	margin-right: 10px

.az-cart
	height: 30px
	line-height: 30px
	background: $az-cyan
	display: inline-block
	color: #fff
	.az-cart-inner
		padding: 0 10px 0 5px
		background: $az-cyan
		transition: all 0.3s ease-in-out
		position: relative
		z-index: 9
		top: 0px
	&:hover
		.az-cart-inner
			top: 5px
			.az-cart5
				text-decoration: none

.az-cart1
	display: inline-block
	vertical-align: middle
	height: 30px
	width: 25px
	background: url(../img/az-cart.png) no-repeat center

.az-cart2
	display: inline-block
	vertical-align: middle
	height: 41px
	width: 34px
	padding-top: 5px
	position: relative
	margin-top: -8px
	background: url(../img/az-apple.png) no-repeat center 0
	font-size: 14px
	font-family: "ArimoBold"
	text-align: center
	margin-left: 18px

.az-cart3
	display: inline-block
	height: 40px
	line-height: 40px
	vertical-align: top
	margin-left: 16px

.az-cart3-inner
	display: inline-block
	vertical-align: middle

.az-cart4, .az-cart5
	font-size: 14px
	font-family: "ArimoRegular"
	line-height: 14px

.az-cart5
	text-decoration: underline

.az-cart6
	vertical-align: middle
	font-size: 14px
	font-family: "ArimoBold"
	text-transform: uppercase
	margin-left: 6px

.az-header-bottom, .az-header-middle
	font-size: 0

.az-logo
	padding: 5px 0
	text-align: center
	img
		max-width: 100%
		width: auto

.az-search
	position: relative
	input[type="text"]
		width: 100%
		height: 35px
		border-radius: 5px
		border: none
		font-family: "ArimoRegular"
		font-size: 14px
		padding: 0 100px 0 35px
	input[type="submit"]
		width: 100px
		position: absolute
		top: 0
		right: 0
		height: 100%
		border-radius: 5px
		background: $az-orange
		color: #fff
		text-transform: uppercase
		letter-spacing: 0.15em
		text-align: center
		font-size: 14px
		font-family: "ArimoBold"
	&::before
		content: ''
		position: absolute
		top: 0
		left: 0
		width: 35px
		height: 100%
		display: inline-block
		z-index: 6
		background: url(../img/az-search.png) no-repeat center
		
.az-phones
	text-align: right
	margin-top: 15px

.az-phone
	font-size: 24.5px
	color: #fff
	line-height: 24.5px
	font-family: "ArimoRegular"
	vertical-align: top
	display: inline-block
	&:focus, &:active, &:hover
		color: #fff
		text-decoration: none
	strong
		font-family: "ArimoBold"

.az-call-back
	font-size: 12px
	line-height: 16px
	display: inline-block
	color: #fff
	font-family: "ArimoItalic"
	text-decoration: underline
	vertical-align: top
	&:focus, &:active
		color: #fff
		text-decoration: underline
	&:hover
		color: #fff
		text-decoration: none

.az-hb-item
	font-family: "ArimoBold"
	font-size: 11px
	color: #fff
	line-height: 15px
	text-transform: uppercase
	padding-left: 48px
	display: inline-block
	text-align: left
	&.style1
		background: url(../img/az-russia.png) no-repeat left center
	&.style2
		background: url(../img/az-temperature.png) no-repeat left center
	&.style3
		background: url(../img/az-bowl.png) no-repeat left center

.az-hb-col
	width: 33.33%
	display: inline-block
	vertical-align: top
	text-align: left
	&:nth-child(2)
		text-align: center
	&:last-child
		text-align: right

.az-catalog
	font-size: 0

.az-ci-img
	width: 145px
	height: 145px
	border-radius: 50%
	box-shadow: 3px 3px 10px rgba(0,0,0,0.5) inset
	overflow: hidden
	position: relative
	margin: 0 auto
	img
		position: absolute
		top: -20%
		left: -20%
		width: 140%
		height: auto
		z-index: -1

.az-ci-title
	line-height: 22px
	text-align: center
	span
		display: inline-block
		padding: 5px
		font-size: 22px
		text-transform: uppercase
		font-family: "RobotoCondensedBold"
		background: $az-green

.az-catalog-col
	display: inline-block
	vertical-align: top
	width: 50%