@import "bourbon"
@import "fonts"
@import "libs"
@import "vars"

*
	border: 0
	margin: 0
	padding: 0
	outline: none

$az-green: #6aac1c
$az-cyan: #007e46
$az-yellow: #ffd200

body
	/**/

a, a:focus, a:hover, a:active, input
	outline: none

li
	list-style-type: none

.az-menu-cart
	font-size: 0
	height: 30px
	background: $az-green
	line-height: 30px

.az-co
	padding-left: 27px
	background: url(../img/az-co.png) no-repeat center left
	font-size: 14px
	vertical-align: middle
	color: #fff
	text-transform: uppercase
	font-family: "ArimoBold"
	letter-spacing: 0.15em
	text-decoration: none
	&:hover, &:active, &:focus
		color: #fff
		text-decoration: none

.az-menu
	background: $az-green
	border-top: 1px solid #fff
	display: none
	position: absolute
	top: 100%
	left: 0px
	z-index: 3
	padding: 10px 0
	li
		line-height: 30px
		a
			color: #fff
			font-size: 14px
			padding: 0 10px
			font-family: "ArimoBold"
			text-transform: uppercase
			text-decoration: none
			width: 100%
			display: inline-block
			vertical-align: middle
			&:hover, &:active, &:focus
				color: #fff
				text-decoration: none
		li
			a
				padding: 0 10px 0 20px
			li
				line-height: 24px
				a
					font-family: "ArimoRegular"
					padding: 0 10px 0 30px
	ul
		display: none

.sf-menu
	display: none

.az-phone-mobile
	height: 30px
	width: 35px
	display: inline-block
	vertical-align: top
	background: url(../img/az-phone-mobile.png) no-repeat center
	margin-right: 10px

.az-cart
	height: 30px
	line-height: 30px
	background: $az-cyan
	display: inline-block
	color: #fff
	.az-cart-inner
		padding: 0 10px 0 5px
		background: $az-cyan
		transition: all 0.3s ease-in-out
		position: relative
		z-index: 9
		top: 0px
	&:hover
		.az-cart-inner
			top: 5px


.az-cart1
	display: inline-block
	vertical-align: middle
	height: 30px
	width: 25px
	background: url(../img/az-cart.png) no-repeat center

.az-cart2
	display: inline-block
	vertical-align: middle
	height: 41px
	width: 34px
	padding-top: 5px
	position: relative
	top: -4px
	background: url(../img/az-apple.png) no-repeat center 0
	font-size: 14px
	font-family: "ArimoBold"
	text-align: center
	margin-left: 18px

.az-cart3
	display: inline-block
	height: 40px
	line-height: 40px
	vertical-align: top
	margin-left: 16px

.az-cart3-inner
	display: inline-block
	vertical-align: middle

.az-cart4, .az-cart5
	font-size: 14px
	font-family: "ArimoRegular"
	line-height: 14px

.az-cart5
	text-decoration: underline

.az-cart6
	vertical-align: middle
	font-size: 14px
	font-family: "ArimoBold"
	text-transform: uppercase
	margin-left: 6px