@import "bourbon"
@import "fonts"
@import "libs"
@import "vars"
@import "style"



.clear
	clear: both
.ah-slider
	position: relative
	width: 100%
	height: 300px
	background: #fff
	padding: 7px 7px
	border-radius: 6px
	box-shadow: 2.5px 4.3px 5px rgba(0, 0, 0, 0.21)
	.item
		width: 100%
		height: 286px
		background: url(../img/ah-slider-fon.jpg) top center no-repeat
		padding: 50px 40px
.ah-itemwrapp
	outline: 1px solid red
.ah-slider-title1, .ah-slider-title2
	position: relative
	display: inline-block
	font-family: "RobotoCondensedBold"
	color: #fff
	font-size: 42px
	line-height: 42px
	text-transform: uppercase
	&::before
		position: absolute
		content: ""
		background: #fff
		width: 100%
		height: 2px
		left: 0px
		bottom: 0px






@import "media"  /* Всегда в конце */
@import "media2"  /* Всегда в конце */